{
  "github_com/devopsfaith/krakend-gologging": {
    "level": "DEBUG",
    "prefix": "[KRAKEND]",
    "syslog": false,
    "stdout": true
  },
  "github_com/devopsfaith/krakend-cors": {
    "allow_origins": [
      "*"
    ],
    "allow_methods": [
      "POST",
      "GET",
      "PUT"
    ],
    "allow_headers": [
      "Origin",
      "Authorization",
      "Content-Type",
      "X-Client-Id",
      "X-User-Name",
      "X-Client-Name",
      "X-User-Email"
    ],
    "expose_headers": [
      "Content-Length"
    ],
    "max_age": "12h"
  },
  "github_com/devopsfaith/krakend/transport/http/server/handler": {
    "name": "authentication",
    "auth_url": "http://gue-auth:8083"
  }
}