{
  "endpoint": "/auth/echo",
  "method": "GET",
  "headers_to_pass": [
    "*"
  ],
  "output_encoding": "no-op",
  "querystring_params": [
    "*"
  ],
  "backend": [
    {
      "method": "GET",
      "encoding": "no-op",
      "host": [
        "{{ .env.auth_host }}"
      ],
      "url_pattern": "/health/readiness"
    }
  ]
},
{
  "endpoint": "/auth/v1/signin",
  "method": "POST",
  "headers_to_pass": [
    "*"
  ],
  "output_encoding": "no-op",
  "querystring_params": [
    "*"
  ],
  "backend": [
    {
      "method": "POST",
      "encoding": "no-op",
      "host": [
        "{{ .env.auth_host }}"
      ],
      "url_pattern": "/v1/auth/signin"
    }
  ]
},
{
  "endpoint": "/auth/v1/authorize",
  "method": "POST",
  "headers_to_pass": [
    "*"
  ],
  "output_encoding": "no-op",
  "querystring_params": [
    "*"
  ],
  "backend": [
    {
      "method": "POST",
      "encoding": "no-op",
      "host": [
        "{{ .env.auth_host }}"
      ],
      "url_pattern": "/v1/auth/authorize"
    }
  ]
},
{
  "endpoint": "/auth/v1/signup",
  "method": "POST",
  "headers_to_pass": [
    "*"
  ],
  "output_encoding": "no-op",
  "querystring_params": [
    "*"
  ],
  "backend": [
    {
      "method": "POST",
      "encoding": "no-op",
      "host": [
        "{{ .env.auth_host }}"
      ],
      "url_pattern": "/v1/auth/signup"
    }
  ]
},
{
  "endpoint": "/auth/v1/signout",
  "method": "POST",
  "headers_to_pass": [
    "*"
  ],
  "output_encoding": "no-op",
  "querystring_params": [
    "*"
  ],
  "backend": [
    {
      "method": "POST",
      "encoding": "no-op",
      "host": [
        "{{ .env.auth_host }}"
      ],
      "url_pattern": "/v1/auth/signout"
    }
  ]
},
{
  "endpoint": "/auth/v1/retoken",
  "method": "POST",
  "headers_to_pass": [
    "*"
  ],
  "output_encoding": "no-op",
  "querystring_params": [
    "*"
  ],
  "backend": [
    {
      "method": "POST",
      "encoding": "no-op",
      "host": [
        "{{ .env.auth_host }}"
      ],
      "url_pattern": "/v1/auth/retoken"
    }
  ]
}