{
  "endpoint": "/orders/echo",
  "method": "GET",
  "headers_to_pass": [
    "*"
  ],
  "output_encoding": "no-op",
  "querystring_params": [
    "*"
  ],
  "backend": [
    {
      "method": "GET",
      "encoding": "no-op",
      "host": [
        "{{ .env.order_host }}"
      ],
      "url_pattern": "/health/readiness"
    }
  ]
},
{
  "endpoint": "/orders/v1/carts",
  "method": "POST",
  "headers_to_pass": [
    "*"
  ],
  "output_encoding": "no-op",
  "querystring_params": [
    "*"
  ],
  "backend": [
    {
      "method": "POST",
      "encoding": "no-op",
      "host": [
        "{{ .env.order_host }}"
      ],
      "url_pattern": "/v1/carts"
    }
  ]
},
{
  "endpoint": "/orders/v1/checkout",
  "method": "POST",
  "headers_to_pass": [
    "*"
  ],
  "output_encoding": "no-op",
  "querystring_params": [
    "*"
  ],
  "backend": [
    {
      "method": "POST",
      "encoding": "no-op",
      "host": [
        "{{ .env.order_host }}"
      ],
      "url_pattern": "/v1/orders/checkout"
    }
  ]
},
{
  "endpoint": "/orders/v1/orders/{order_id}",
  "method": "PUT",
  "headers_to_pass": [
    "*"
  ],
  "output_encoding": "no-op",
  "querystring_params": [
    "*"
  ],
  "backend": [
    {
      "method": "PUT",
      "encoding": "no-op",
      "host": [
        "{{ .env.order_host }}"
      ],
      "url_pattern": "/v1/orders/{order_id}"
    }
  ]
},
{
  "endpoint": "/orders/v1/orders",
  "method": "GET",
  "headers_to_pass": [
    "*"
  ],
  "output_encoding": "no-op",
  "querystring_params": [
    "*"
  ],
  "backend": [
    {
      "method": "GET",
      "encoding": "no-op",
      "host": [
        "{{ .env.order_host }}"
      ],
      "url_pattern": "/v1/orders"
    }
  ]
}